{% extends "base.html" %}

 {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h2>Maintenance Logs</h2>
    </div>
  </div>
  {% for obj in object_list %}
  <hr>
  <div class="row">
    <div class="col-md-6  col-md-offset-1">
      <h3><a href="{% url 'frontend:maintenancelog_detail' obj.id %}">{{ obj.date_created }}</a></h3>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <ul class="b">{{ obj.comment}}</ul>
    </div>
  </div>
</hr>
  {% endfor %}
</div>
{% endblock content %}
